
body{
    line-height: 24px;
}

section{
    padding: 0 10px;
    box-sizing: border-box;
}

.header{
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    background-color: #099fde;
    color: #fff;
}
