<div id="amz-offcanvas" class="am-offcanvas doc-offcanvas">
  <section class="amz-sidebar am-offcanvas-bar">
    <ul class="am-nav">
      <li class="am-nav-header">基本使用</li>
      <li>
        <a href="/getting-started/layouts">
          布局示例
          <span class="am-nav-en">Layouts</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/compatibility">
          兼容性列表
          <span class="am-nav-en">Compatibility</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/allmobilize/amazeui/blob/master/CHANGELOG.md" target="_blank">
          更新记录
          <span class="am-nav-en">Change Log</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/webapp">
          Web App 相关
          <span class="am-nav-en">Web App</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/collections">
          藏品
          <span class="am-nav-en">Collections</span>
        </a>
      </li>
      <li class="am-nav-header">进阶开发</li>
      <li>
        <a href="/getting-started/project-structure">
          项目结构
          <span class="am-nav-en">Structure</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/widget-dev">
          Web 组件简介
          <span class="am-nav-en">Web Component</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/html-css">
          HTML/CSS 规范
          <span class="am-nav-en">Rules</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/javascript">
          JavaScript 规范
          <span class="am-nav-en">Rules</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/widget">
          Web 组件规范
          <span class="am-nav-en">Rules</span>
        </a>
      </li>
      <li class="am-nav-header">你来我往</li>
      <li>
        <a href="/getting-started/faq">
          常见问题
          <span class="am-nav-en">FAQs</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/feedback">
          Bug 反馈
          <span class="am-nav-en">Feedback</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/next">
          遇见未来
          <span class="am-nav-en">Next</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/allmobilize/amazeui/wiki/Credits" target="_blank">
          感谢有你
          <span class="am-nav-en">Credits</span>
        </a>
      </li>
      <li>
        <a href="/getting-started/team">
          开发者说
          <span class="am-nav-en">Team</span>
        </a>
      </li>
    </ul>
  </section>
  <div class="amz-pager">
    <a href="#up" class="am-icon-caret-up" data-rel="scrollUp"></a>
    <a href="#down" class="am-icon-caret-down" data-rel="scrollDown"></a>
  </div>
</div>